/* ==========================================================================
   Nguyen Trong Nghia
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.1.0/css/font-awesome.min.css"; 
html, body {
    overflow-x: hidden;
}

body {
    font-size: 15px;
    background: #fdfdfd;
    font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
form {
    margin: 0
}
a {
	color: #333; 
    cursor: pointer
}
a, a:focus {
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #0076a1;
}
input, input:focus {
    outline: none
}
#container .container {
    max-width: 960px;
    height: auto;
}
body,h1,h2,h3,h4,p,a {
	font-family: 'Open Sans', sans-serif;
}
.progress {
  display: inline-flex;
  align-items: center;
  counter-reset: step;
  padding: 0;
  margin: 0;
  width: 100%;
  color: #F2F2F2;
  font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
  list-style: none;
  text-transform: uppercase;
  
  &__circle {
    width: 50px;
    height: 50px;
    border: 5px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
 
    &:before {
      content: '\f00c';
      font-family: "Open Sans", Tahoma, Arial, Sans-Serif;
      font-size: 2em;
      color: #fff;
      margin-top: 0.3em;
    }
    
    &:after {
      counter-increment: step;
      content: 'Step ' counter(step);
      margin-top: 0.5em;
    }
  }
  
  &__bar {
    flex: 1;
    height: 5px;
    background: #F2F2F2;
  }
  
  &--done {
    background: #C9D645;
  }
  
  &--active {
    border: 5px solid #C9D645;
    color: #C9D645;
  }
}
 /* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {

}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {

}